# Core functionality - changes here should be rare!
/src/app.py                   @keijoraamat
/src/backend/database.py      @keijoraamat
/src/backend/routers/auth.py  @keijoraamat

# The frontend will need refactored soon to be more object oriented.
/src/static/   @keijoraamat
